* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.profile {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 250px;
  height: 250px;
  position: fixed;
  z-index: 1;
  bottom: 40px;
  right: 50px;
}

.profile:hover > .outline {
  opacity: 0;
  visibility: 0;
}

.profile:hover > div > .icons > a {
  offset-distance: 92%;
}

.profile:hover > div > .icons > a {
  opacity: 1;
}

.profile > .outline {
  position: absolute;
  width: 250px;
  height: 250px;
  left: 100%;
  top: 100%;
  border-radius: 50%;
  -webkit-transform: translate(-100%, -100%);
          transform: translate(-100%, -100%);
  border-top: 5px solid dimgray;
  border-bottom: 5px solid white;
  -webkit-animation: border-spin 5s infinite linear;
          animation: border-spin 5s infinite linear;
  -webkit-transition: .5s;
  transition: .5s;
}

@-webkit-keyframes border-spin {
  to {
    -webkit-transform: translate(-100%, -100%) rotate(360deg);
            transform: translate(-100%, -100%) rotate(360deg);
  }
}

@keyframes border-spin {
  to {
    -webkit-transform: translate(-100%, -100%) rotate(360deg);
            transform: translate(-100%, -100%) rotate(360deg);
  }
}

.profile > div {
  width: 250px;
  height: 250px;
  position: relative;
  border-radius: 50%;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
  -webkit-animation-name: move .5s;
          animation-name: move .5s;
}

.profile > div > .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 35px;
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

.profile > div > .icons > a {
  -webkit-transition: .4s;
  transition: .4s;
  opacity: 0;
  color: snow;
  position: absolute;
  offset-rotate: 360deg;
  offset-distance: 0%;
  -webkit-transition: .5s;
  transition: .5s;
}

.profile > div > .icons > a:nth-of-type(1) {
  offset-path: path("M62.78,125H3.7c0,0-5.61-84.39,83.8-116.13");
  -webkit-transition-delay: 1.5s;
          transition-delay: 1.5s;
}

.profile > div > .icons > a:nth-of-type(2) {
  offset-path: path("M102.43,125H3.7c0,0-5.61-84.39,83.8-116.13 c0, 0, 17.15-6.61, 40.89-5.83");
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}

.profile > div > .icons > a:nth-of-type(3) {
  offset-path: path("M149.65,125H3.7c0,0-5.61-84.39,83.8-116.13 c0,0,17.15-6.61,40.89-5.83c0,0,20.83,0.11,40.87,8.21");
  -webkit-transition-delay: .5s;
          transition-delay: .5s;
}

.profile > div > .icons > a:nth-of-type(4) {
  offset-path: path("M188.78,125H3.7c0,0-5.61-84.39,83.8-116.13 c0,0,17.15-6.61,40.89-5.83c0,0,20.83,0.11,40.87,8.21c0,0,19.94,7.13,36.98,22.56");
}

.profile > div > figure {
  width: 100%;
  height: 50%;
  position: absolute;
  left: 0;
  overflow: hidden;
}

.profile > div > figure > img {
  width: 100%;
  height: 100%;
}

.profile > div > figure:nth-of-type(1) {
  top: 0%;
  -webkit-clip-path: circle(50% at 50% 100%);
          clip-path: circle(50% at 50% 100%);
}

.profile > div > figure:nth-of-type(2) {
  top: 50%;
  -webkit-clip-path: circle(50% at 50% 0);
          clip-path: circle(50% at 50% 0);
}

.profile > div > h3 {
  position: absolute;
  bottom: -30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 30px;
  color: white;
  font-weight: normal;
  text-shadow: -2px 0px 0px black, 2px 0px 0px black, 0px -2px 0px black, 0px 2px 0px black;
}

main {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: #4ea8de;
  background: -webkit-gradient(linear, left top, left bottom, from(#4ea8de), color-stop(50%, #48bfe3), to(#64dfdf));
  background: linear-gradient(180deg, #4ea8de 0%, #48bfe3 50%, #64dfdf 100%);
  padding: 20% 5%;
}

main > .quiz-start {
  font-size: 25px;
  cursor: pointer;
  width: 220px;
  height: 50px;
  background: transparent;
  border: 2px solid #f0ebd8;
  -webkit-transition: .4s;
  transition: .4s;
}

main > .quiz-start:hover {
  border: 2px solid transparent;
  background: #f0ebd8;
}

main > .container {
  display: none;
  background: #3e5c76;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border-radius: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: 1s ease-out;
  transition: 1s ease-out;
  margin-bottom: 40px;
}

main > .container > .time {
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}

main > .container > .quiz {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 15px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main > .container > .quiz > .question {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  border-radius: 5px;
  margin: 15px 0;
  font-size: 12px;
  font-weight: lighter;
  background: #073b4c;
  padding: 20px;
  text-align: center;
}

main > .container > .quiz > .question > h2 {
  color: white;
}

main > .container > .quiz > .options {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 10px;
}

main > .container > .quiz > .options > .option {
  width: 100%;
  margin: 5px;
  height: 50px;
  background: #f0ebd8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Helvetica;
  cursor: pointer;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 5px;
  font-size: 25px;
}

main > .container > .quiz > .options > .option:hover {
  background: #d1cdbe;
}

main > .container > .quiz > .options > .wrong {
  background: #ce123e;
  pointer-events: none !important;
}

main > .container > .quiz > .options > .wrong:hover {
  background: #ce123e;
}

main > .container > .quiz > .options > .right {
  background: #06d6a0;
  pointer-events: none !important;
}

main > .container > .quiz > .options > .right:hover {
  background: #06d6a0;
}

main > .container > .quiz > .options > .timeout {
  background: #ffd166;
  pointer-events: none !important;
}

main > .container > .quiz > .options > .timeout:hover {
  background: #ffd166;
}

main > .container > .quiz > .buttons {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

main > .container > .quiz > .buttons > button {
  border: 1px solid white;
  background: none;
  padding: 10px 25px;
  border-radius: 5px;
  cursor: pointer;
}

.not-chosen {
  pointer-events: none !important;
  background: gray !important;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .option {
    width: calc(50% - 10px) !important;
  }
  .quiz {
    max-width: 600px;
  }
  main {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
  }
}
/*# sourceMappingURL=style.css.map */